*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #111827;
    color: white;
}

nav{
    margin: 20px;
}

nav ul {
    display: flex;
    justify-content: right;
    align-items: center;
    gap: 20px;
    cursor: pointer;
}

 nav ul li {
    list-style: none;
    font-size: 20px;
}

.home-option{
    background-color: #4d4dcc;
    padding: 3px;
    border-radius: 10px;
} 

img[alt="hambrger"]{
    width: 20px;
    display: none;
}

img[alt="hello img"]{
    width: 45px;
}

img[alt="pc-image"]{
    width: 30vw;
}

.intro{
    display: flex;
    justify-content: center;
    align-items: center;
}

.intro-left{
    display: flex;
    flex-direction: column;
    
}
.intro-line1{
    display: flex;
    justify-content: start;
    align-items: center;
    font-size: 30px;
}

.intro-line2 h1{
    font-size: 60px;
}

.intro-line2 h2{
    font-size: 35px;
    color: rgb(197, 197, 89);
}

.horizontal-divider{
    height: 10px;
    width: 140px;
    background-color: blue;
    border-radius: 20px;
    margin-bottom: 20px;
}


.main-project {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 70px;
}

.project-list{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: center;
    row-gap: 20px;
    column-gap: 20px;
} 

.project img{
    width: 20vw;
    cursor: pointer;
} 

.main-project div h1{
    font-size: 40px;
}

.project-list p {
    font-size: 25px ;
}
.project{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.contact{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.contact div h1{
    font-size: 40px;
} 

.horizontal-divider-contact{
    height: 10px;
    width: 160px;
    background-color: blue;
    border-radius: 20px;
    margin-bottom: 20px;
} 

.social-media-icon img{
    width: 25px;
}

.social-media-icon {
    display: flex;
    justify-content: center;
    align-items : center;
    gap:10px;
    margin-bottom: 20px;
}

@media screen and (max-width:584px){
    nav ul{
        display: none;
    }
    img[alt="hambrger"]{
        display: block;
    }
    .intro{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .intro-line1{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .intro-line2{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .intro-line2 h1{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        font-size: 50px;
    }

    img[alt="pc-image"]{
        width: 60vw;
    }
    .project-list{
        display: grid;
        flex-direction: column;
        grid-template-columns: 1fr;
        align-items: center;
        justify-content: center;
    }
    .project img{
        width: 40vw;
    } 
}
   



